*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    outline: none;
}
.Container
{
    background-image: url('./background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.Calculator
{
    background-color: #000000;
    padding: 15px;
    border-radius: 30px;
    box-shadow: -5px -5px 12px #000000, inset -5px -5px 12px #3e3e3e,inset 5px 5px 12px rgb(114, 114, 114), 5px 5px 12px rgb(0, 0, 0);
    display: grid;
    grid-template-columns: repeat(4,70px);
}
input{
    grid-column: span 4;
    height: 60px;
    width: 272px;
    background-color: #ffffff;
    box-shadow: inset 5px 5px 12px rgba(126, 126, 126, 0.975),inset -5px -5px 12px rgb(194, 194, 194);
    border: none;
    border-radius: 30px;
    color: rgba(2, 0, 0, 0.847);
    font-size: 40px;
    text-align: end;
    margin: auto;
    margin-top: 40px;
    margin-bottom: 40px;
    padding: 20px;
}
button
{
    height: 48px;
    width: 48px;
    background-color: #ffffff;
    box-shadow: inset 1px 1px 5px rgb(215, 215, 215), inset -5px -5px 12px rgb(166, 166, 166);
    border: none;
    margin: 10px;
    font-size: 20px;
    border-radius: 30%;
}
button:active{
    border: 3px solid black;
}
.equal
{
    width: 115px;
    border-radius: 40px;
    background-color: #ff8800;
    box-shadow: inset 4px 4px 6px #8a5700, inset -4px -4px 6px #ffca6d;
}
.spl-btn{
    background-color: #ff8800;
    box-shadow: inset 4px 4px 6px #8a5700, inset -4px -4px 6px #ffca6d;
}
.clr-btn{
    background-color: #ff2600;
    box-shadow: inset 4px 4px 6px #8f1500, inset -4px -4px 6px #ff755c;
    font-size: 15px;
    color: #e9e9e9;
}